body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.logo {

}

.right-links {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
}

.copyright {
    display: flex;
}